.episodes ol {
    list-style: none;
}

.episodes li {
    padding: .5rem;
}

.episodes li:hover,
.episodes li.selected {
    background: red;
    cursor: pointer;
}

.episodes li:not(:last-child) {
    border-bottom: 1px solid black;
}

.episode-details {
    display: flex;
    flex-direction: column;
    gap: 1ch;
}